.div{
    width: 100%;
}
.container{
    width: 30em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.label{
    line-height: 3em;
}
.button{
    width: 10em;
    margin: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor:pointer;
}