.div{
    width: 100%;
    display: flex;
}
.nav{
    width: 60%;
    text-align: center;
}
.nav h1{
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    margin: 0;
    color: #FDC123;
    text-shadow: 3px 3px 6px #69492b;
}
.link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.p{
    margin: 0;
    font-family: 'Acme',sans-serif;
    color: #CA1619;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px #69492b;
}
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
@media(max-width:750px){
    .nav{
        width: 100%;
    }
}